html {
	font-size: 70%;
	box-sizing: border-box;
	align-content: center;
	justify-content: center;
	background-color: aliceblue;
	align-content: center;
	justify-content: center;
	
	
  }

  
  *,
  *::before,
  *::after {
	margin: 0;
	padding: 0;
	margin-top: 0;
	align-content: center;
	box-sizing: inherit;
  }
  
  .calculator {
	margin: 45px auto;
	padding: 10px 10px 10px;
	border: 1px solid hwb(0 99% 0%);
	border-radius: 10px;
	width: 400px;
	background: #9dd2ea;
	background: linear-gradient(#9dd2ea, #8bceec);
	
  }
  
  .calculator-screen {
	width: 100%;
	height: 80px;
	border: none;
	background-color: white;
	color: rgb(20, 20, 20);
	text-align: right;
	padding-right: 20px;
	padding-left: 10px;
	font-size: 4rem;
  }
  
  button {
	height: 50px;
	font-size: 1rem!important;
  }
  
  .equal-sign {
	height: 100%;
	grid-area: 2 / 4 / 6 / 5;
  }
  
  .calculator-keys {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px;
	padding: 30px;
  }

  .container{
    background-color: blueviolet;
    width: 100%;
    height: 100vh;
    background-color:#ff4500;
    animation: change-colour-anim 20s linear infinite;


}

@keyframes change-colour-anim {
    0%,100%{
        background-color: #ff4500;

    }

    50%{
        background-color: #fff700;
    }

    75%{
        background-color: #81d8cc;
    }

    
}